<a href="https://colab.research.google.com/github/lewandowskimariusz/algorithms-and-data-structures/blob/master/Algorytmy_i_struktury_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def nww(a, b):
  # the least common multiple of a  and b 
  # Multiply a x b
  ab = a * b 
  i = 0
  while b != 0:
    i += 1 
    print('Krok= ',i)
    t = b
    print('t= ',t)
    b = a % b
    print('b= ',b)
    a = t
    print('a= ', a)
  print('ab= ', ab)
  ab = ab / a
  print(ab)
  return ab

In [0]:
#nww_lowest_no = nww(2,4)

In [0]:
# Declared number if primes, n
def first_numbers(n):
  #Lp - counter of primes
  lp = 0
  # Integer to search primesm d 
  d = 0 
  # Second integer to serch primes p 
  p = 2
  # Loop 
  while (lp < n):
    flag_t = True
    for d in range(2, p):
      if p % d == 0:
        flag_t = False
        break
    if flag_t == True:
      print('First no is: ', p)
      lp += 1
    p += 1 
  print('Sum of primes is: ',lp)

In [0]:
#first_numbers(100)

In [0]:
def sieve(n):
    """Sito Eratostenesa - liczby pierwsze nie wiÄ™ksze od n."""
    L = [0] + n * [1]
    for p in range(2,n):
      q = p * p
      if q > n:
        break
      if L[p] == 1:
        for i in range(q,n+1,p):
          L[i] = 0
    return [i for i in range (1, n+1) if L[i] == 1]

In [0]:
#sieve(100)

In [0]:
def linear_sieve(n):
  S = []
  for i in range (1,n+1):
    S.append(i)
  print(S)
  for p in range(2,n):
    #print('p= ',p)
    while p * p <= n: 
      q = p
      #print('q= ',q)
      z = 0 
      while q * p <= n:
        #print('z=',z)
        x = q * p
        #print('X= ',x)
        z += 1
        i_x = 0
        while x <= n:
          #i_x += 1
          #print('i_x',i_x)

          if x in S:
            print('remove',x)
            S.remove(x)
          x = p * x
        q += 1 
      p += 1
    #for i in range(2,n):
      #if i in S:
        #print(i)
    return S

In [2]:
linear_sieve(100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
remove 4
remove 8
remove 16
remove 32
remove 64
remove 6
remove 12
remove 24
remove 48
remove 96
remove 10
remove 20
remove 40
remove 80
remove 14
remove 28
remove 56
remove 18
remove 36
remove 72
remove 22
remove 44
remove 88
remove 26
remove 52
remove 30
remove 60
remove 34
remove 68
remove 38
remove 76
remove 42
remove 84
remove 46
remove 92
remove 50
remove 100
remove 54
remove 58
remove 62
remove 66
remove 70
remove 74
remove 78
remove 82
remove 86
remove 90
remove 94
remove 98
remove 9
remove 27
remove 81
remove 15
remove 45
remove 21
remove 63
remove 33
remove 99
remove 39
remove 51
remove 57
remove 69
remove 75
remove 87
remove 93
remove 25
remove 35
remove 55
remove 65
remove 85
remove 95
remove 49
remove 77
remove 91

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]